<div class="flex align-items-center justify-content-start ">
  <p-inputSwitch [inputId]="'timings_' + testItem.id" [(ngModel)]="testItem.hasTimings"
                 [disabled]="true"
                 class="mr-2"></p-inputSwitch>
  <label [htmlFor]="'timings_' + testItem.id">Timings</label>
</div>
<div class="flex align-items-center justify-content-start ">
  <p-inputSwitch [inputId]="'screenshot_' + testItem.id" [(ngModel)]="testItem.hasScreenshot"
                 [disabled]="true"
                 class="mr-2"></p-inputSwitch>
  <label [htmlFor]="'screenshot_' + testItem.id">Screenshot</label>
</div>
<div class="flex align-items-center justify-content-start ">
  <p-inputSwitch [inputId]="'performanceEntries_' + testItem.id" [(ngModel)]="testItem.hasPerformanceEntries"
                 [disabled]="true" class="mr-2"></p-inputSwitch>
  <label [htmlFor]="'performanceEntries_' + testItem.id">Performance-Entries</label>
</div>
<div class="flex align-items-center justify-content-start ">
  <p-inputSwitch [inputId]="'network_' + testItem.id" [(ngModel)]="testItem.hasNetwork"
                 [disabled]="true"
                 class="mr-2"></p-inputSwitch>
  <label [htmlFor]="'network_' + testItem.id">Netzwerk</label>
</div>
<div class="flex align-items-center justify-content-start ">
  <p-inputSwitch [inputId]="'tracing_' + testItem.id" [(ngModel)]="testItem.hasTracing"
                 [disabled]="true"
                 class="mr-2"></p-inputSwitch>
  <label [htmlFor]="'tracing_' + testItem.id">Screenshot</label>
</div>
