<p-sidebar styleClass="w-fit" [(visible)]="sidebarVisible">
  <div class="flex align-items-center justify-content-center" w-fit>
    <span class="font-bold">Filter</span>
  </div>
  <div>
    <div class="flex align-items-start mb-1">
      Screenshot
    </div>
    <div class="flex align-items-center justify-content-center w-fit">
      <p-selectButton [(ngModel)]="currentHasScreenshot" [options]="filterOptions" optionLabel="name" optionValue="value"></p-selectButton>
    </div>
  </div>
  <div>
    <div class="flex align-items-start mb-1">
      Network
    </div>
    <div class="flex align-items-center justify-content-center w-fit">
      <p-selectButton [(ngModel)]="currentHasNetwork" [options]="filterOptions" optionLabel="name" optionValue="value"></p-selectButton>
    </div>
  </div>
  <div>
    <div class="flex align-items-start mb-1">
      Timing
    </div>
    <div class="flex align-items-center justify-content-center w-fit">
      <p-selectButton [(ngModel)]="currentHasTiming" [options]="filterOptions" optionLabel="name" optionValue="value"></p-selectButton>
    </div>
  </div>
  <div>
    <div class="flex align-items-start mb-1">
      Performance-Entries
    </div>
    <div class="flex align-items-center justify-content-center w-fit">
      <p-selectButton [(ngModel)]="currentHasPerformanceEntries" [options]="filterOptions" optionLabel="name" optionValue="value"></p-selectButton>
    </div>
  </div>
  <div>
    <div class="flex align-items-start mb-1">
      Tracing
    </div>
    <div class="flex align-items-center justify-content-center w-fit">
      <p-selectButton [(ngModel)]="currentHasTracing" [options]="filterOptions" optionLabel="name" optionValue="value"></p-selectButton>
    </div>
  </div>
  <div class="flex w-fit mb-2 mr-2" style="position: absolute; right: 0px; bottom: 0px; vertical-align: bottom;">
    <p-button class="mr-2" size="small" (click)="cancelSidebar()" label="Abbrechen" icon="pi pi-times-circle"></p-button>
    <p-button size="small" (click)="onCloseSidebar()" label="Übernehmen" icon="pi pi-check"></p-button>
  </div>
</p-sidebar>
