<app-action-error-toast></app-action-error-toast>
<p-scrollTop></p-scrollTop>
<app-main-action-sidebar (localStorageDatasetEmitter)="sidebarStateEventEmitter($event)" [mainActionSidebarTo]="_mainActionSidebarTo" [sidebarVisible]="sidebarState"></app-main-action-sidebar>
<p-card class="w-screen">
  <div class="mb-3 mt-3 flex flex-wrap align-items-stretch">
    <div class="flex align-items-center justify-content-center w-1">
      <p-button [disabled]="autoLoad" size="small" (click)="loadData()" label="Reload" icon="pi pi-refresh"
                class="mr-2"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center w-1">
      <p-inputSwitch [(ngModel)]="autoLoad" class="mr-2" (onChange)="onAutoLoadChange()"></p-inputSwitch>
      Auto Load
    </div>
    <div class="flex align-items-center justify-content-center w-1">
      <p [ngClass]="autoLoad ? 'text-visible' : 'text-invisible'" class="ml-2">Reload in {{ 10 - cpt }} Sekunden</p>
    </div>
    <div class="flex align-items-start justify-content-start w-4">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [totalRecords]="totalDocCount" [rows]="rows"
                   [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
    <div class="flex align-items-center justify-content-center w-2">
      <p-button size="small" (click)="showSidebar()" label="Filter" icon="pi pi-filter" [badge]="getCurrentFilterValue().toString()"></p-button>
    </div>
  </div>
</p-card>
<p-toast></p-toast>
<div class="border-round m-2" *ngFor="let testItem of _testsResults || []">
  <app-test-list-element (reloadPage)="handleReloadEvent($event)" [testItem]="testItem"
                         [userId]="userId"></app-test-list-element>
</div>
