<p-card class="w-screen">
  <div class="flex flex-wrap align-items-stretch">
    <div class="flex align-items-center justify-content-center m-2 w-2">
      <p
        *ngIf="testItem.hasScreenshot && testItem.screenshotId != '00000000-0000-0000-0000-000000000000'; else noImage">
        <p-image src="{{buildScreenshotUrl('screenshot', testItem.screenshotId)}}" width="256px"
                 alt="screenshot_{{testItem.screenshotId}}" (error)=" setDefaultImage($event)"></p-image>
      </p>
      <ng-template #noImage>
        <p-image src="/assets/ina.png" width="256px" alt="no image found image"></p-image>
      </ng-template>
    </div>
    <div class="flex align-items-start justify-content-start ml-2 mr-2 w-2">
      <div class="justify-content-center">
        <h3>URL: {{ testItem.url }}</h3>
        <h4>Datum: {{ testItem.ctime | date:'dd.MM.yyyy HH:mm:ss' }}</h4>
        <p class="small">ID: {{ testItem.id }}</p>
      </div>
    </div>
    <div class="flex align-items-start justify-content-start ml-2 mr-2 w-2">
      <app-element-stored-details [testItem]="testItem"></app-element-stored-details>
    </div>
    <div class="flex align-items-start justify-content-start ml-2 mr-2 w-1">
      <app-element-action (reloadPage)="onReloadEventEmit($event)" testItemId="{{testItem.id}}" userId="{{this.userId}}"></app-element-action>
    </div>
  </div>
</p-card>
