<p-toast position="top-center" key="composedError" styleClass="custom-toast-width">
  <ng-template let-message pTemplate="message">
    <div class="div-style">
      <p class="failure-headline">{{message.data.headline}}</p>
      <p class="failure-code">Aufgerufene Methode: {{message.data.method}}</p>
      <p class="failure-body">Fehlertext: {{message.data.body}}</p>
      <p class="failure-code">Fehlercode: {{message.data.code}}</p>
    </div>
  </ng-template>
</p-toast>

