:host {
  .custom-toast-width {
    width: 50%;
  };

  .div-style {
    width: 100%;
  };

  .failure-body {
    font-size: 75%;
  };

  .failure-code {
    font-size: 80%;
  };

  .failure-headline {
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
  }
}

