<div class="mb-3">
  <p-card>
    <p-menubar [model]="items">
      <ng-template pTemplate="end">
        <div class="w-full">{{userName}} | {{title}}</div>
      </ng-template>
    </p-menubar>
  </p-card>
</div>
